{% extends 'baseAdmin.html.twig' %}

{% block title %}Assemblee Generale index{% endblock %}

{% block content %}
    <h1>Configuration des données de l'assemblée générale</h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Annee</th>
                <th scope="col">Document</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for AssembleeGenerale in liste_ag %}
            <tr>
                <th scope="row">{{ AssembleeGenerale.id }}</th>
                <td>{{ AssembleeGenerale.annee }}</td>
                <td>{{ AssembleeGenerale.document }}</td>
                <td>
                    <a href="{{ path('assemblee_generale_show') }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('assemblee_generale_new') }}">Create new</a>
{% endblock %}
